.card{
    background-color: var(--cardBg);
    padding: 10px 10px;
    border: 1px solid var(--borderGhost);
    border-radius: 20px;
}

.nametag{
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}

.description{
    font-size: 1rem;
    text-align: left;
}