.card{
    background-color: var(--cardBg);
    padding: 10px 10px;
    border: 1px solid var(--borderGhost);
    border-radius: 20px;
    width: fit-content;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.nametag{
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    margin: 30px;
}

.description{
    font-size: 1rem;
    text-align: center;
    width: 30rem;
}

@media (max-width: 767px){
    .description{
        width: fit-content;
    }
}