.card{
    background-color: var(--cardBg);
    padding: 10px 10px;
    border: 1px solid var(--borderGhost);
    border-radius: 20px;

}

.card h3{
    font-size: 1.2rem;
    text-align: center;
}

.card p{
    font-size: 1rem;
    text-align: left;
}