.body{
  width: 99vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  padding-top: 10vh;
  padding-bottom: 10vh;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    width: stretch;
}

.verticalCardContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

}

.separation{
  font-size: large;
  padding: 0;
  margin: 0;
}


@media(max-width: 767px){
  .body{
    height: fit-content;
    padding-bottom: 10vh;
  }

  .body h1{
    font-size: 2rem;
  }

  .verticalCardContainer{
    padding: 20px;
    flex-direction: column;
  }
}