.body{
  width: 99vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.underlinebold{
  color: aqua;
  text-decoration: underline;
}

@media (max-width: 767px) {
  h1{
    font-size: xx-large;
  }
}