.body{
    width: 99vw;
    height: 100vh;

    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    box-shadow: 0.2rem 0.2rem 0.2rem var(--light-shadow-colour);
    transition: box-shadow 0.2s, transform 0.2s;
}

button:hover{
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.h2AccountControls{
    margin-bottom: 0;
}

.accountControlsWrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dangerZone{
    background-color: rgba(255, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 20px;
}

.dangerZone h3{
    margin-top: 0;
}

.dangerZoneBtnWrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}