.body{
    width: 100vw;
    height: fit-content;

    margin-top: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.card{
    padding: 3rem;
    border-radius: 5rem;
    background-color: rgba(0, 128, 128, 0.5);
    box-shadow: 0.3rem 0.3rem 0.4rem var(--light-shadow-colour);
    transition: transform 0.4s ease, box-shadow 0.4s ease;

    max-width: 30vw;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0.5rem 0.5rem 0.1rem var(--light-shadow-colour)
}

.card h1{
    font-size: 3rem;
}

.priceTag{
    font-size: 2rem;
}

.card s{
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
}

.green{
    color: rgba(11, 201, 4, 0.9);
    font-size: xx-large;
    text-shadow: 3px 3px 4px var(--light-shadow-colour);
    
}

.card button{
    font-size: 1.3rem;
    background-color: rgba(0, 248, 248, 0.5);
    padding: 0.7rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.4rem var(--light-shadow-colour);
    display: inline-block;
    margin-top: 0.5rem;

    transition: transform 0.2s ease-in-out;
}

.card button:hover{
    transform: translateY(-2px);
}

@media (max-width: 767px){
    .card{
        max-width: none;
        margin-left: 10px;
        margin-right: 10px;
    }

    .card h1{
        font-size: 2rem;
        margin: 0;
    }

    .card p{
        margin: 0;
        margin-top: 0.5rem;
    }

    .card button{
        margin-top: 0.5rem;
    }
}