.body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 2rem;
}

.nameContainer, .other, .credentialsContainer{
  display: flex;
  flex-direction: column;
}

.credentialsContainer p, .nameContainer p, .other p{
  text-align: center;
  margin-bottom: 0.1rem;
}

.credentialsWrapper{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.paragraphs p{
  margin: 0;
}

.form input{
  padding: 0.3rem;
  font-size: 1.3rem;
  border-radius: 0.3rem;
}

.smallText{
  font-size: 1rem;
  text-align: center;
}

@media(max-width: 767px){
  .body{
    justify-content: start;
    padding-top: 10vh;
  }

  .body h1{
    font-size: 2rem;
  }
}