.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    /*background-color: rgba(0, 255, 255, 0.171);    */
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: 5%;
    font-size: 1.2rem;
}

.a{
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.226);
}

.title{
    padding-left: 5%;
    font-size: 5rem;
    color: var(--Titlecolor);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.226);
}

.button {
    border-radius: 8px;
    color: white;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--primary);
    font-size: 1.25em;
    cursor: pointer;
    transition: background-color 0.25s;
    box-shadow: 5px 5px 5px var(--light-shadow-colour);
}
.button:hover {
    background-color: var(--accent);
}

@media(max-width: 1000px) {
}